.home-services
  padding-bottom: 120px
  
  
.home-services__wrapper
  width: 50%
  @media screen and (max-width: 960px)
    width: 100%
    max-width: 640px
    margin: 0 auto
    padding: 0 20px
  @media screen and (max-width: 690px)
    padding: 0

.home-services__title
  font-size: 18px
  font-weight: 700
  color: $black
  text-transform: uppercase
  line-height: 28px

.services-list
  margin-top: 34px

.services-list__item
  margin-bottom: 15px
  &:last-child
    margin-bottom: 0px

.services-list__title
  font-size: 16px
  font-weight: 300
  line-height: 20px