.logo-link
  display: flex
  flex-basis: 40%
  align-items: center
  cursor: pointer
  @include media-breakpoint-down(xl)
    // flex-basis: 45%
  @media screen and (max-width: 1120px)
    display: none

.logo-link--mob
  display: none
  @media screen and (max-width: 1120px)
    display: flex
    flex-basis: 100%
    margin: 0 auto
    align-items: center
    justify-content: center
    cursor: pointer
    width: 100%
    letter-spacing: .03em
    font-size: 16px
    color: #000
    font-weight: 600