.burger
  display: none
  @media screen and (max-width: 1120px)
    display: block
    position: absolute
    top: 0
    left: 0
    height: 50px
    width: 50px
    background: #000
    text-align: center

.burger__line
  position: absolute
  left: 14px
  margin: 0 auto
  width: 20px
  height: 3px
  vertical-align: middle
  background: #fff

.line-1
  top: 18px

.line-2
  top: 24px

.line-3
  top: 30px
